{% extends "cv/master.html" %}
{% load static %}
{% block title %} - Dashboard{% endblock %}
{% block content %}
		<!-- Header -->
			<header id="header">
				<h1><a href="/">bytevision <span>MVP</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/config">Configuration</a></li>
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/logout" class="button">Log out</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">

					<header class="major">
						<h2>bytevision dashboard</h2>
					</header>

					<!-- Content -->
						<div class="content">
							{{ config_msg | safe }}
							<p>Current <i><b>added</b></i> delta: {{ added_delta | safe }}</p>
							<!-- <ul>
								<li>ID: {{ cvspots.id }}</li>
							        <li>Active: {{ cvspots.active }}</li>
							        <li>Food: {{ cvspots.food }}</li>
							        <li>Location: {{ cvspots.location }}</li>
							        <li>Added: {{ cvspots.added }}</li>
								<li>Location Update: {{ cvspots.location_update }}</li>
							</ul> -->
							<a href="/admin" class="image fit"><img src="{% static 'images/pexels-ivan-samkov-02.jpg' %}" alt="" /></a>
						</div>

				</div>
			</section>
{% endblock %}
