{% extends "cv/master.html" %}
{% load static %}
{% block title %} - Home{% endblock %}
{% block content %}
		<!-- Header -->
			<header id="header">
				<h1><a href="/">bytevision <sup>MVP</sup></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/dashboard" class="button">Log In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">

					<header class="major">
						<h2>bytevision <sup><i>MVP</i></sup></h2>
					</header>

					<!-- Content -->
						<div class="content">
							<p><b>{{ home_display_msg | safe }}</b></p>
							<p><b><a href="/login">Login</a></b> to use the system, default credentials are <b>yum/yum</b>.</p>
							<a href="/login" class="image fit"><img src="{% static 'images/pexels-ivan-samkov-01.jpg' %}" alt="Login" /></a>
						</div>

				</div>
			</section>
{% endblock %}
