{% extends "cv/master.html" %}
{% load static %}
{% block title %} - Home{% endblock %}
{% block content %}
		<!-- Header -->
			<header id="header">
				<h1><a href="/">bytevision <span>MVP</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/login" class="button">Log In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">

					<header class="major">
						<h2>bytevision</h2>
						<p>Welcome to the MVP</p>
					</header>

					<!-- Content -->
						<div class="content">
							<p>To use the system, <a href="/login">login</a> (default credentials are <b>yum</b>/<b>yum</b>).</p>
							<a href="/login" class="image fit"><img src="{% static 'images/cv-unsplash.jpg' %}" alt="Login" /></a>
						</div>

				</div>
			</section>
{% endblock %}
